:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --bRadius: 10px;
}
body {
  transition: 1s;
}
.main-container {
  width: 1145px;
  margin: 4em auto;
  border: 2px solid coral;
  display: flex;
  border-radius: var(--bRadius);
}
nav {
  position: relative;
  width: 20%;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 10px;
}
.active {
  font-weight: bold;
  font-size: 24px;
  color: #ffb344;
  padding-left: 13px;
}
li a {
  text-decoration: none;
  color: #00a19d;
  padding: 7px;
}
.navLinks {
  background-color: #fff8e5;
  border-radius: var(--bRadius);
}
.content {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  color: #e05d5d;
  text-align: center;
}
.js-content-container,
.jQcontent-container {
  padding: 1em;
  border: 2px solid coral;
}
.columns-row {
  display: flex;
  justify-content: space-around;
}
.columns-row .left-column div,
.columns-row .right-column div {
  margin: 30px;
}
.columns-row div > * {
  margin: 5px;
}
select {
  width: 50%;
}
p {
  cursor: pointer;
}
.jQcontent-container {
  background-color: black;
}
/*-------a3.html---------*/
.story-container {
  background-color: black;
  width: 80%;
  color: #ffb344;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 2em;
}
.story-container hr {
  border: 2px solid #00a19d;
  width: 100%;
}
.col {
  display: flex;
  flex-direction: column;
}
.story {
  background-color: #e05d5d;
  padding: 1em;
  margin: 1em;
  border-radius: var(--bRadius);
  width: 60%;
}
#title {
  color: #00a19d;
}
#moreDeets {
  color: #fff8e5;
  font-weight: 700;
}
#image {
  margin: 5px;
  border-radius: var(--bRadius);
}
#genBtn {
  border: 2px solid #00a19d;
  border-radius: var(--bRadius);
  background-color: #fff8e5;
  color: #00a19d;
  padding: 5px;
  box-shadow: 3px 3px 8px #e05d5d;
  transition: 1s;
}
#genBtn:hover {
  border: 2px solid #fff8e5;
  background-color: #00a19d;
  color: #fff8e5;
  transition: 1s;
  cursor: pointer;
}
/*------- a4.html ---------*/
.task-board-container {
  margin: auto;
  width: 60%;
  text-align: center;
}
#taskContainer {
  border: 1px solid #00a19d;
  padding: 3em;
  border-radius: var(--bRadius);
}
#taskContainer h1 {
  color: #00a19d;
  display: flex;
  justify-content: center;
}
#taskCounter {
  background-color: #00a19d;
  color: #fff8e5;
  margin: 5px;
  margin-top: 0;
  padding: 8px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 100%;
  align-self: baseline;
}
#taskContainer input {
  display: block;
  margin: 1em auto;
  padding: 5px;
  border: 2px solid #ffb344;
  border-radius: var(--bRadius);
  width: 90%;
}
#a4btn {
  background-color: #e05d5d;
  color: #fff8e5;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1em;
  border: 2px solid #fff8e5;
  border-radius: var(--bRadius);
  transition: 1s;
}
#a4btn:hover {
  cursor: pointer;
  background-color: #fff8e5;
  color: #e05d5d;
  border: 2px solid #e05d5d;
  margin: 0;
  transition: 1s;
}
#taskContainer li {
  background-color: #ffb344;
  margin: 1em auto;
  padding: 1em;
  border-radius: var(--bRadius);
  text-transform: uppercase;
}
.task {
  color: #fff8e5;
  font-weight: bold;
}
.date {
  color: #e05d5d;
  font-size: larger;
  font-weight: bold;
}
.daysUntil {
  font-size: small;
  color: #00a19d;
}
.daysUntil span {
  color: #e05d5d;
  font-size: larger;
  font-weight: bold;
}
/*Calendar*/
.ui-datepicker {
  width: 216px;
  height: auto;
  margin: 5px auto 0;
  font: 9pt Arial, sans-serif;
  background-color: #e05d5d;
}
/*Next, Prev, and number of each day*/
.ui-datepicker a {
  text-decoration: none;
  color: #fff8e5;
}

.ui-datepicker table {
  width: 100%;
  border-collapse: collapse;
}
/*Month and year bar*/
.ui-datepicker-header {
  color: #ffb344;
  font-weight: bold;
  line-height: 30px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #00a19d;
  background-color: #00a19d;
}

.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: #ffb344;
}

.ui-datepicker-prev {
  float: left;
  margin-left: 5px;
}
.ui-datepicker-next {
  float: right;
  margin-right: 5px;
}
/*days of the week bar*/
.ui-datepicker thead {
  background-color: #ffb344;
  border-bottom: 1px solid #ffb344;
  border-right: 1px solid #00a19d;
  border-left: 1px solid #00a19d;
}
/*days of the week*/
.ui-datepicker th {
  text-transform: uppercase;
  font-size: 6pt;
  padding: 5px 0;
  color: #00a19d;
}

.ui-datepicker tbody td {
  padding: 7px;
  border: 1px solid #00a19d;
}

.ui-datepicker tbody tr {
  border-bottom: 1px solid #ffb344;
}
.ui-datepicker tbody tr:last-child {
  border-bottom: 0px;
}
/*------- a5.html ---------*/
form {
  margin: 2em 0 2em 0;
}
form label,
form p {
  display: block;
  margin: 5px 0 5px 0;
  color: #00a19d;
}
form input {
  padding: 5px;
  border-radius: var(--bRadius);
  border: 1px solid #e05d5d;
}
.radioLabels {
  display: inline;
  color: black;
}
form select {
  padding: 5px;
  border-radius: var(--bRadius);
  border: 1px solid #e05d5d;
}
form button {
  display: block;
  margin: 1em 0 0 0;
  padding: 1em;
  background-color: #ffb344;
  color: #fff8e5;
  font-weight: bold;
  border: 2px solid #e05d5d;
  border-radius: var(--bRadius);
  transition: 0.75s;
}
form button:hover {
  margin: 1em 0 0 0;
  cursor: pointer;
  background-color: #00a19d;
  color: #fff8e5;
  border: 2px solid #ffb344;
  transition: 0.75s;
}
