:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-container {
  width: 1145px;
  margin: 4em auto;
  border: 2px solid coral;
  display: flex;
}
nav {
  position: relative;
  width: 20%;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 10px;
}
.active {
  font-weight: bold;
  font-size: 24px;
  color: #ffb344;
  padding-left: 13px;
}
li a {
  text-decoration: none;
  color: #00a19d;
  padding: 7px;
}
.navLinks {
  background-color: #fff8e5;
  border-radius: 10px;
}
.content {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  color: #e05d5d;
  text-align: center;
}
.js-content-container,
.jQcontent-container {
  padding: 1em;
  border: 2px solid coral;
}
.columns-row {
  display: flex;
  justify-content: space-around;
}
.columns-row .left-column div,
.columns-row .right-column div {
  margin: 30px;
}
.columns-row div > * {
  margin: 5px;
}
select {
  width: 50%;
}
p {
  cursor: pointer;
}
.jQcontent-container {
  background-color: black;
}
