.main-container {
  max-width: 1400px;
  min-width: 1200px;
  margin: 4em auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid coral;
}
nav {
  position: relative;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 10px;
}
.active {
  font-weight: bold;
  font-size: 24px;
  color: #ffb344;
  margin-left: 3px;
}
li a {
  text-decoration: none;
  color: #00a19d;
  padding: 7px;
}
.navLinks {
  background-color: #fff8e5;
  border-radius: 10px;
}
.content {
  display: inline-block;
  /* flex-direction: column; */
  justify-content: right;
}
.JScontent-container {
  padding: 1em;
  color: #e05d5d;
  max-width: 75%;
  border: 2px solid coral;
  text-align: center;
}
.jQcontent-container {
  padding: 1em;
  color: #e05d5d;
  max-width: 75%;
  background-color: black;
  text-align: center;
  border: 2px solid coral;
}
.content-container input {
  width: 50%;
}
